<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class ="col-sm-8  col-md-7 py-4">
        <h4>About</h4>
        <p>Here is some About information about the postcards application</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4>Contact</h4>
        <ul class="list">
          <li>Twitter</li>
          <li>Email</li>
          <li>Github</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <i class="fas fa-mail-bulk"></i>
      <strong> Postcards from a stranger</strong>
    </a>
    <div class="fa-align-right">
      <% if user_signed_in? %>
        <p>Currently Logged in as <%= current_user.name %></p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-success"  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success" %>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    </div>
  </div>
</div>


