<main class="container index">
  <div class="home content">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Postcards from a Stranger</h1>
          <p class="lead text-muted">Start sending & receiving virtual postcards from around the world. </p>
          <p>
            <a href="users/sign_up" class="btn btn-primary my-2">Sign up Today</a>
            <a href="#" class="btn btn-secondary my-2">See Examples</a>
          </p>
        </div>
      </div>
    </section>

    <div class="container-fluid card-group">
    <% @postcards.each do |postcard| %>
      <div class="card" style="width: 18rem;">
        <image class="card-img-top" src="images/pier.jpg" alt="Card image cap"></image>
        <div class="card-body">
          <h5 class="card-title"><%= postcard.title %></h5>
          <p class="card-text"><%= postcard.body %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
          <div class="card-footer">
            <p>From: <%= postcard.from %></p>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</main>